{% extends "_base.html" %}

{% block main %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 mt-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">List of registered ActivityPub clients.</h5>
              <p class="card-text">
                Click to add a new ActivityPub client!
              </p>
              <a href='{% url "client:get-create-client" %}'>
                <button type="button" class="btn btn-primary">Add Client</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 mt-4">
          {% if clients %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Base API Url</th>
                  <th scope="col">Name</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
              <tbody>
                {% for client in clients %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ client.api_base_url }}</td>
                    <td>{{ client.name }}</td>
                    <td><a href='{% url "client:login-list" client_pk=client.pk %}'>
                      <button type="button" class="btn btn-light">Logins</button>
                    </a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
