{% extends "_base.html" %}

{% block main %}
  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
  <section>
    <div class="bg-green-800">
      Django + Tailwind = ❤
    </div>
    Welcome to the locnus example app.
    Use one of the links in the navigation to explore!
  </section>
  <section>
    {% for client in clients %}
      <h2>
        <a href="{{ client.api_base_url }}">
          {{ client.api_base_url }}
        </a>
      </h2>
    {% endfor %}
  </section>
  <a href='{% url "create-client" %}'>Add Client</a>
{% endblock %}
